@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main--color: #3E8BFF;
    --second--color: #D9EDFF;
    --gray900--color: #242424;
    --gray800--color: #333333;
    --gray700--color: #454545;
    --gray600--color: #646464;
    --gray500--color: #787878;
    --gray400--color: #a1a1a1;
    --gray300--color: #bfbfbf;
    --gray200--color: #e3e3e3;
    --gray100--color: #f1f1f1;
    --gray50--color: #fdfdfd;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: var(--gray100--color);
    overflow: hidden;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.content_area{
    background-color: var(--gray100--color);
    width: 100vw;
    height: 100vh;
    padding: 20px 40px 40px 40px;
    display: flex;
}

.img_wrap{
    display: flex;
    width: 100%;
    position: relative;
}

.side-bar{
    display: flex;
    flex-direction: column;
    
}



/*공통 css*/
.btn-title {
    color: var(--gray800--color);
    font-size: 16px;
    font-weight: 400;
    height: 34px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

button{
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--gray100--color);
    color: var(--gray500--color);
    display: flex;
    width: 76px;
    height: 36px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}


.btn-align{
    display: flex;
    gap: 8px;
    width: 100%;
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  

  /* 로딩 스피너 스타일 */
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #3E3E3E;
    animation: spin 1s ease infinite;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* 다른 요소 위에 표시 */
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

  .loading-container {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9998; /* 다른 요소 위에 표시 */
    justify-content: center;
    align-items: center;
}



/*사이드 상단*/
.side_top_wrap{
    background-color: var(--gray50--color);
    width: 428px;
    height: auto;
    max-height: 228px;
    padding: 24px;
    background-color: var(--gray50--color);
    border-radius: 32px;
    margin-bottom: 16px;
}

.chose{
    display: flex;
    gap: 4px;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}

.chose div{
    border-radius: 45px;
    height: 36px;
    width: 50%;
    background-color: var(--gray100--color);
    color: var(--gray500--color);
    line-height: 36px;
    text-align: center;
    padding-left: 8px;
    padding-right: 16px;
}

.chose img{
    transform: translateY(6px);
    margin-right: 4px;
}

.tip {
    border: 1px solid var(--gray800--color);
    border-radius: 900px;
    width: 24px;
    height: 24px;
    font-size: 12px;
    font-weight: 900;
    margin-left: 8px;
    background-color: unset;
    color: inherit;
    display: inline;
}

.tip:hover{
    background-color: var(--main--color);
    color: var(--gray50--color);
    border: 1px solid var(--main--color);
}

#projectTitleInput{
    height: 66px;
    width: 100%;
    background-color: var(--gray100--color);
    color: var(--gray400--color);
    border: none;
    padding: 16px 21px;
    font-size: 16px;
    border-radius: 4px;
}

/*사이드 하단*/
.side_bottom_wrap{
    background-color: var(--gray50--color);
    width: 428px;
    height: auto;
    max-height: 692px;
    padding: 24px;
    border-radius: 32px;
}

.set-area{
    display: flex;
    margin-top: 36px;
    width: 100%;
}

#reset{
    width: 48px;
    height: 48px;
    border-radius: 99px;
    border: none;
    background-color: var(--gray100--color);
    color: var(--gray700--color);
}

#direct-send, #interview-send{
    background-color: var(--gray900--color);
    color: var(--gray50--color);
    border-radius: 99px;
    width: 322px;
    height: 44px;
    margin-left: 8px;
}

/* 기본 상태 */
#interview-send{
    background-color: var(--gray300--color);
    color: var(--gray50--color);
    cursor: not-allowed;
}

/* 파일이 업로드된 상태 */
#interview-send.uploaded {
    background-color: var(--gray900--color);
    color: var(--gray50--color);
    cursor: pointer; /* 클릭 가능 상태 */
}

.custom-area{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.slider-container {
    position: relative;
    width: 100%;
    
    
}

#rangeInput {
    width: 100%;
    -webkit-appearance: none;
    height: 8px;
    border-radius: 5px;
    outline: none;
    transition: opacity .2s;
    background: linear-gradient(to right, #3E8BFF 50%, #D6E6FF 50%);
    overflow: hidden;
    
}

#rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 8px;
    border-radius: 4px;
    background: var(--main--color);
    cursor: pointer;
    transform: translateX(-4px);
    position: relative;
}

#rangeInput::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #3E8BFF;
    cursor: pointer;
}

#rangeValue {
    transform: translateY(-2vh);
    font-size: 16px;
    color: #313131;
    position: absolute;
}


#keyinput {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(53, 53, 53, 0.692);
    width: 100vw;
    height: 100vh;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

#apiInput {
    height: 40px;
    max-width: 260px;
    width: 80%;
    padding: 16px 24px;
    border: 1px solid #000000;
    border-radius: 12px;
    z-index: 999;
}

.input-button-modal{
    height: 40px;
    max-width: 260px;
    width: 80%;
    padding: 16px 24px;
    border: 1px solid #000000;
    border-radius: 12px;
}

.apikey-input-flex button{
    width: 20%;
    max-width: 60px;
    font-size: 18px;
    font-weight: light;
    line-height: 40px;
    color: #FFFFFF;
    border: 0;
    border-radius: 50px;
    background-color: #3E3E3E;
    height: 40px;

}

.inputlabel button {
    width: 20%;
    max-width: 60px;
    font-size: 18px;
    font-weight: light;
    line-height: 40px;
    color: #FFFFFF;
    border: 0;
    border-radius: 50px;
    background-color: #3E3E3E;
    height: 40px;
}

.inputbg{
    max-width: 400px;
    width: 80%;
    height: 146px;
    padding: 20px 28px;
    background-color: #FEFEFE;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputbg h2{
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: var(--gray800--color);
}

.inputlabel{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.apikey-input-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    color: var(--gray800--color);
}



.people-area {
    display: flex;
    align-items: center;
    justify-content: center;
}



header {
    width: 100vw;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
    padding: 32px;
    z-index: 1000;
}
Header button{
    width: 124px;
    height: 40px;
    font-size: 18px;
    font-weight: light;
    color: #FFFFFF;
    border: 0;
    border-radius: 50px;
    background-color: #3E3E3E;
}

#home {
    background-color: transparent;
    width: 124px;
    height: 40px;
    transform: translateX(140px);
}


#export-btn{
    background-color: var(--gray100--color);
    border: var(--gray500--color) solid 2px;
    color: var(--gray500--color);
    font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
gap: 6px;
vertical-align: middle;
align-items: center;
cursor: not-allowed;

}




.userContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.userList {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background-color: none;
    padding: 4px 8px;
    border-radius: 500px;
}

.userProfile {
    width: 40px;
}

#fileTitle {
    font-size: 20px;
    font-weight: 700;
    margin-left: 181px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #333;
    text-align: center;
    outline: none;
}

.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* 배경 어둡게 */
}
.modal-content {
    background-color: #fefefe;
    margin: 30% auto;
    padding: 20px 28px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 12px;
    max-width: 400px; /* 모달 창의 최대 너비 */
    color: var(--gray800--color);
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-100%);
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*여기다*/

/* 처음 apikey 받는 창 */
.start-input-apikey {
    max-width: 400px;
    width: 80%;
    padding: 20px 28px;
    background-color: #FEFEFE;
    border-radius: 12px;
    
}
.start-input-apikey input{
    box-sizing: border-box;
    height: 40px;
    max-width: 260px;
    width: 80%;
    padding: 16px 24px;
    border: 1px solid #000000;
    border-radius: 12px;
    margin-right: 12px;
    margin-top: 24px;;
}
.start-input-apikey button{
    box-sizing: border-box;
    width: 20%;
    max-width: 60px;
    font-size: 18px;
    font-weight: light;
    line-height: 40px;
    color: #FFFFFF;
    border: 0;
    border-radius: 50px;
    background-color: #3E3E3E;
}


/* 인트로 모달 스타일링 */
.intro-modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1200px;
    height: 640px;
    z-index: 1000;
    transform: translate(-50%, -50%);
        border-radius: 12px;
    
    

}

#popupImg {
    border-radius: 12px 0px 0px 12px;
    
}
    
.intro-content {
    height: 100%;
    background-color: #fff;
    border-radius: 0px 12px 12px 0px;
    padding: 40px;
    max-width: 600px;
    width: 90%;
    text-align: left;
    box-shadow: 0px 4px 20px 0px rgba(128, 128, 128, 0.25);
    font-family: Arial, sans-serif;
}

.carousel-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 30px;
    width: 520px;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: var(--main--color);
}

button#prev-btn {
    width: 82px;
    height: 42px;
    border: none;
    background-color: var(--gray300--color);
    color: white;
    border-radius: 500px;
    cursor: pointer;
    font-size: 13px;
}


button#next-btn {
    width: 82px;
    height: 42px;
    border: none;
    background-color: var(--gray600--color);
    color: white;
    border-radius: 500px;
    cursor: pointer;
    font-size: 13px;
}

button#prev-btn:disabled {
    visibility: hidden;
    cursor: not-allowed;
}
.intro-content h1{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    text-align: left;
    font-size: 32px;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    color: var(--gray800--color);
}

.step2{
    color: var(--main--color);
    font-size: 24px;
    font-weight: 700;
    font-family: Arial, sans-serif;
}

.intro-content p{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    text-align: left;
    margin-top: 40px;
    font-size: 20px;
    color: var(--gray800--color);
    font-family: Arial, sans-serif;
}

.cancel{
    width: 520px;
    height: 60px;

    text-align: right;
}
#cancel{
    cursor: pointer;
}





.title {
    font-size: 14px;
    color: #313131;
    font-weight: 800;
    margin-right: 12px;
}

.persona {
    padding: 32px 48px 48px 48px;
    overflow: hidden;
    border-radius: 20px;
    background: #FFF;
    min-width: 692px;
    max-height: 760px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

p {
    font-size: 14px;
}

.persona-info {
    display: flex;
    flex-direction: column;
    right: 0%;
    width: 50%;
    bottom: 0%;
    position: absolute;
    overflow: hidden;
    gap:2px;
    
}

.story-p{
    width: 50%;
}

.info_wrap{
    display: flex;
}


.info_wrap p:nth-child(2){
    left: 40%;
    position: absolute;
}

.info_wrap p:nth-child(3){
    position: absolute;
    left: 80%;
}


.category{
    font-size: 12px;
    color: var(--gray400--color);
    width: 100%;
    height: 26px;
    border-bottom: 1px solid var(--gray200--color);
    margin-top: 20px;
    margin-bottom: 6px;
}

.story_wrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sty_wrap{
    display: flex;
    gap: 62px;

}

.uss{
    overflow-y: scroll;
    height: 60px;
    line-height: 20px;
    text-align: justify;
    padding-right: 12px;
}


.sty_wrap div{
    width: 266px;
    font-size: 14px;
    color: var(--gray500--color);
    text-align: justify;
    line-height: 150%;
    
}


.sty_wrap .title{
    margin-bottom: 4px;
}

#personas-container {
    width: auto;
    height: auto;
    z-index: 99;
    display: flex;
    gap: 32px;
    margin-left: 80px;
    
    overflow-x: hidden;  /* 가로 스크롤 활성화 */
    overflow-y: auto;  /* 세로 스크롤 활성화 */
}

.img-area {
    width: 282px;  /* 부모 요소의 너비에 맞춤 */
    height: 282px;  /* 원하는 높이 지정 */
    overflow: hidden;  /* 영역을 넘는 부분은 숨김 */
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;  /* 모서리를 둥글게 */
    position: relative;
    flex-direction: column;
}

.sen{
    z-index: 999;
    font-size: 20px;
    color: var(--gray500--color);
    max-width: 100%;
}

.tag-area{
    display: flex;
    gap: 6px;
}

.tag{
    border-radius: 4px;
    padding: 5px 12px;
    background-color: var(--main--color);
    color: var(--gray50--color);
}

.img-area img {
    width: 100%;  /* 이미지의 너비를 img-area에 맞춤 */
    height: 100%;  /* 비율을 유지하며 높이 자동 조절 */
    object-fit: cover;  /* 이미지가 영역에 맞게 잘리도록 설정 */
    border-radius: 8px;  /* 모서리를 둥글게 */
    z-index: 1;
    position: absolute;
    right: 0%;
}



.selected {
    background-color: var(--second--color) !important;
    color: var(--main--color);
}




.edit {
    margin-top: 12px;
    background-color: #3E3E3E;
    color: #fff;
}





.interview-area {
    
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    background-color: var(--gray50--color);
    border-radius: 32px;    
    display: none;
    
}

.file-upload {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.file-upload-label.uploaded {
    background-color: var(--second--color) !important; /* 업로드된 후의 색상 */
}

/* 커스텀 라벨 스타일링 */
.file-upload-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: var(--gray100--color);
    border-radius: 4px;
}

/* 텍스트와 아이콘의 간격 */
.file-upload-text {
    font-size: 14px;
    color: var(--gray400--color); /* 기본 색상 */
}

.file-upload-text.uploaded {
    color: var(--gray800--color); /* 업로드된 후의 색상 */
}

.file-upload-icon {
    background-image: url('./images/file.png'); /* 아이콘 파일 경로 */
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    background-color: var(--gray500--color);
    border-radius: 99px;
    background-position: center center;
    cursor: pointer;
    
}


.img-area img {
    margin-left: 8px;
}


/* 전체 테이블 스타일 */
table {
    border-collapse: collapse; /* 셀 간 테두리가 하나로 합쳐짐 */
    width: 90%;
    max-height: 16vh;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--gray50--color);
    border-radius: 12px; /* 테두리 둥글기 */
    border: 2px solid var(--gray200--color); /* 외곽 테두리 두께 및 색상 */
    overflow: hidden;
}

/* tr과 td 모두에 동일한 테두리 적용 */
tr, td {
    border: 1px solid var(--gray200--color); /* 하나의 테두리만 표시 */
    text-align: center;
    padding: 8px;
    font-size: 14px;
}
/* 테이블의 첫 번째 열 스타일링 (예: 제목 또는 구분 열) */
#step2-content table tr td:nth-child(1), #step3-content table tr td:nth-child(1) {
    background-color: var(--second--color);
    color: var(--main--color);
    width: 176px;
} 

/* step4 테이블의 첫 번째 행 스타일링 (예: 헤더) */
#step4-content table tr:nth-child(1) {
    background-color: var(--second--color);
    color: var(--main--color);
    font-weight: bold;
    border-bottom: 2px solid var(--gray300--color); /* 첫 번째 행의 아래쪽에 굵은 선 */
}

/* step4 테이블의 두 번째 행 스타일링 */
#step4-content table tr:nth-child(2) {
    height: 80px;
    border-bottom: 1px solid var(--gray300--color); /* 두 번째 행의 아래쪽에 기본 선 */
}




.table-tap{
    
    background-color: var(--second--color);
    color: var(--main--color);
    font-size: 12px;
    text-align: center;
}

.table-text{
    font-size: 14px;
    color: var(--gray900--color);
}


#step-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 96px;
    background-color: #FFF;
    overflow-y: auto;
    padding: 24px;
    z-index: 1000;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 32px;
    width: 580px;
    height: auto; /* 고정 높이 대신 auto로 변경 */
    max-height: 80vh; /* 최대 높이 설정 */
}


.tab-bar .tab {
    cursor: pointer;
    width: 70px;
    border-radius: 999px;
    padding: 4px 12px;
    color: var(--gray400--color);
    font-size: 16px;
    font-weight: 400;

    text-align: center;
}

.tab-bar .tab.active {
    border-radius: 999px;
    padding: 4px 12px;
    background-color: var(--main--color);
    color: var(--gray50--color);
    font-size: 16px;
    font-weight: 400;
}

.tab-bar {
    display: flex;
    flex-direction: row;
    background-color: var(--gray100--color);
    border-radius: 999px;
    gap: 12px;
    width: 316px;
    margin-bottom: 24px;
}

#close-popup{
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    right: 24px;
    top: 24px;
    
}

.step-content {
    display: none; /* 초기에는 숨김 상태 */
}

.step-content h3{
    margin-bottom: 24px;
    font-size: 18px;
}

.step-content p{
    margin-bottom: 24px;
}

.step-content.active {
    display: block; /* 활성화된 Step만 표시 */
}

#reset{
    width: 48px;
    height: 48px;
    border-radius: 99px;
    border: none;
    background-color: var(--gray100--color);
    color: var(--gray700--color);
}

#toggle-process-btn {
    display: none;
    visibility: visible !important;
    z-index: 1000; /* 팝업 위에 표시되도록 z-index 설정 */
    position: fixed;
    bottom: 2%;
    right: 36px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #000000;
}

#toggle-process-btn img{
    transform: translate(-27px, -22px);
    z-index: -5;
}

#toggle-reset-btn {
    display: block !important; /* 강제로 버튼을 표시 */
    visibility: visible !important;
    position: relative;
    z-index: 1000; /* 팝업 위에 표시되도록 z-index 설정 */
    margin-left: 20px;
    margin-top: 20px;
    padding: 6px 20px;
    background-color: #3e3e3e;
    color: #fff;
    height: 40px;
    position: fixed;
    bottom: 10%;
    left: 31%;
}




.tooltip {
    display: none;
    position: absolute;
    background-color: var(--second--color);
    padding: 5px 10px;
    border-radius: 5px;
    transform: translateY(-1px);
    margin-left: 8px;
    z-index: 1000;
    word-wrap: break-word;
    white-space: normal;
    font-size: 14px;
    width: 320px;
    text-align: justify;
    opacity: 0.8;
    color: var(--gray900--color);
    line-height: 20px;
    
}

#clip {
    z-index: 999;
    transform: translate(-28%, -10%);
    background-color: inherit;
    width: 40px;
    scale: 1.2;
    border-radius: 999px;
    color: var(--main--color);
    border: none; /* 혹시 있을지 모르는 기본 버튼 스타일 제거 */
    cursor: pointer; /* 클릭 가능한 영역으로 보이도록 커서 스타일 지정 */
    display: flex; /* 버튼 내부에서 아이콘을 가운데 정렬 */
    align-items: center; /* 버튼 내부에서 아이콘을 수직 가운데 정렬 */
    justify-content: center; /* 버튼 내부에서 아이콘을 수평 가운데 정렬 */
    padding: 0; /* 불필요한 패딩 제거 */
}
